<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>api home</title>
</head>
<body>
<div class="jumbotron">
    <div class = "container col-md-6">
        <h1 class="display-4"><strong>Api documentation</strong></h1>
        <br>
        <table class="table">
            <th scope="col">URL</th>
            <th scope="col">Http Method</th>
            <th scope="col">Authorization needed?</th>
            <tbody>
                <% results.forEach((element) => { %>
                    <tr>
                        <td><%= element.url %></td>
                        <td><%= element.httpMethod %></td>
                        <td><%= element.needAuthorization %></td>
                    </tr>
                <% }); %>
            
            </tbody>
        </table>
    </div>
</div>
</body>
</html>